<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
      <link href="lib/ion-autocomplete/dist/ion-autocomplete.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers/news.js"></script>
      <script src="js/controllers/offer.js"></script>
      <script src="lib/ion-autocomplete/dist/ion-autocomplete.js"></script>
  </head>
  <body ng-app="gameSwapApp">  <!--  ng-controller="NewsCtrl" -->

    <ion-nav-view></ion-nav-view>

<!--
      <script id="new-task.html" type="text/ng-template">

          <div class="modal">

              <ion-header-bar class="bar-secondary">
                  <h1 class="title">Ich biete zum tausch</h1>
                  <button class="button button-clear button-positive" ng-click="closeNewTask()">Zurück</button>
              </ion-header-bar>

              <ion-content>

                  <form ng-submit="createTask(task)">
                      <div class="list">
                          <label class="item item-input">
                              <ion-autocomplete ng-model="games" item-view-value-key="title" items-method="callbackMethod(query)" placeholder="Spiel Titel..." cancel-label="abbrechen" />

                          </label>
                      </div>
                      <div class="padding">
                          <button type="submit" class="button button-block button-positive">Create Task</button>
                      </div>
                  </form>

              </ion-content>

          </div>

      </script>
      -->

  </body>
</html>
