<ion-view title="Spiele Wunschliste">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <form ng-submit="createTask(task)">
            <div class="list">
                <label class="item item-input">
                    <ion-autocomplete ng-model="games" item-view-value-key="title" items-method="callbackMethod(query)" placeholder="Spiel Titel eingeben..." cancel-label="abbrechen" />
                </label>
                <span class="input-label"><b>Plattform</b></span>

                <ion-radio ng-model="choice" ng-value="'PS4'">Playstation 4</ion-radio>
                <ion-radio ng-model="choice" ng-value="'PS3'">Playstation 3</ion-radio>
                <ion-radio ng-model="choice" ng-value="'XboxOne'">Xbox One</ion-radio>
                <ion-radio ng-model="choice" ng-value="'Xbox360'">Xbox 360</ion-radio>

            </div>
            <div class="padding">
                <button type="submit" class="button button-block button-positive">Spiel wünschen</button>
            </div>
        </form>
    </ion-content>
</ion-view>