<ion-view title="GameSwap">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-content class="has-header">
        <ion-list>
            <ion-item ng-repeat="game in news | orderBy: 'created': true">
                <h2 ng-bind="game.headline"></h2>
                <img ng-src="images/{{game.image}}">
                <p ng-bind="game.description"></p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>